
<div class="d-flex flex-column min-vh-100">
  <app-navbar></app-navbar>

  <div class="contact-container my-5 flex-grow-1">
    <h2 class="mb-4 text-center" *ngIf="!successMessage">Оформление заказа</h2>

    <form class="contact-form" [formGroup]="orderForm" (ngSubmit)="submitOrder()" *ngIf="!successMessage">

      <div class="mb-3">
        <label class="form-label">Товар</label>
        <input type="text" class="form-control" formControlName="product"
               [ngClass]="{'is-invalid': orderForm.controls['product'].touched && orderForm.controls['product'].errors}">
      </div>

      <div class="mb-3">
        <label class="form-label">Имя</label>
        <input type="text" class="form-control" formControlName="name"
               [ngClass]="{'is-invalid': orderForm.controls['name'].touched && orderForm.controls['name'].errors}">
        <div class="invalid-feedback" *ngIf="orderForm.controls['name'].touched && orderForm.controls['name'].errors">
          Только буквы. Поле обязательно.
        </div>
      </div>

      <div class="mb-3">
        <label class="form-label">Фамилия</label>
        <input type="text" class="form-control" formControlName="last_name"
               [ngClass]="{'is-invalid': orderForm.controls['last_name'].touched && orderForm.controls['last_name'].errors}">
        <div class="invalid-feedback" *ngIf="orderForm.controls['last_name'].touched && orderForm.controls['last_name'].errors">
          Только буквы. Поле обязательно.
        </div>
      </div>

      <div class="mb-3">
        <label class="form-label">Телефон</label>
        <input type="tel" class="form-control" formControlName="phone"
               placeholder="+79991234567"
               (keypress)="allowPhoneOnly($event)"
               [ngClass]="{'is-invalid': orderForm.controls['phone'].touched && orderForm.controls['phone'].errors}">
        <div class="invalid-feedback" *ngIf="orderForm.controls['phone'].touched && orderForm.controls['phone'].errors">
          Допустимы только цифры и знак +, всего 11–15 символов.
        </div>
      </div>


      <div class="mb-3">
        <label class="form-label">Страна</label>
        <input type="text" class="form-control" formControlName="country"
               [ngClass]="{'is-invalid': orderForm.controls['country'].touched && orderForm.controls['country'].errors}">
        <div class="invalid-feedback" *ngIf="orderForm.controls['country'].touched && orderForm.controls['country'].errors">
          Поле обязательно.
        </div>
      </div>


      <div class="mb-3">
        <label class="form-label">Индекс</label>
        <input type="number" class="form-control" formControlName="zip"
               [ngClass]="{'is-invalid': orderForm.controls['zip'].touched && orderForm.controls['zip'].errors}">
        <div class="invalid-feedback" *ngIf="orderForm.controls['zip'].touched && orderForm.controls['zip'].errors">
          Введите корректный индекс (от 4 до 10 цифр).
        </div>
      </div>


      <div class="mb-3">
        <label class="form-label">Адрес</label>
        <input type="text" class="form-control" formControlName="address"
               [ngClass]="{'is-invalid': orderForm.controls['address'].touched && orderForm.controls['address'].errors}">
        <div class="invalid-feedback" *ngIf="orderForm.controls['address'].touched && orderForm.controls['address'].errors">
          Допустимы буквы, цифры, пробел, дефис и слеш.
        </div>
      </div>


      <div class="mb-3">
        <label class="form-label">Комментарий к заказу</label>
        <textarea class="form-control" rows="3" formControlName="comment"></textarea>
      </div>


      <button class="btn btn-success button-form" [disabled]="orderForm.invalid">Оформить заказ</button>
      <span class="text-danger ms-3">{{ errorMessage }}</span>
    </form>

    <div *ngIf="successMessage" class="alert alert-success">
      {{ successMessage }}
    </div>
  </div>

  <app-footer></app-footer>
</div>
